@model CIS726_Assignment2.Models.Course

@{
    ViewBag.Title = "Delete";
}

<div class="contentbox">
    <div class="liquid_100">
        <h2>@Html.DisplayFor(model => model.courseHeader)</h2>
        <h4 class="warning">Are you sure you want to delete this course?</h4>
    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to Course List", "Index")
        </p>
    }
        <hr/>
        @Html.Partial("CourseDetailsPartial", Model)
    </div>
</div>

