@model Demo.Models.ScoreboardViewModel

@{
    ViewBag.Title = "View1";
}

@{Html.RenderPartial("PointTypesPartial", Model.ScoreboardPointTypes);}

<div class="scoreboardContainer">
    <div class="scoreContainer">

        <!-- This is the scores box
        use .js or ajax to update and sort the scores-->
        @{Html.RenderPartial("LeaderboardPartial", Model.Scoreboard);}

    </div>
    <!-- This is the navigation box-->
    
</div>

<div class="scoreboardDetailContainer">

</div>

@section Scripts{
    @Scripts.Render(@"~\Scripts\inifiniteScrolling.js")
}