@model Demo.Models.ScoreboardViewModel

@{
    ViewBag.Title = "View1";
}

<div class="scoreboardContainer">
    <div class="scoreContainer">

        <div>
        <p class ="Scores">Scores:</p>
            </div>
        <div>
        <p class ="Section">Section Scores:</p>
        </div>

        <!-- This is the scores box
        use .js or ajax to update and sort the scores-->
        @{Html.RenderPartial("LeaderboardPartial", Model.Scoreboard);}

    </div>
    <!-- This is the navigation box-->
    
    @{Html.RenderPartial("PointTypesPartial", Model.PointTypes);}
</div>

<div class="scoreboardDetailContainer">

</div>

@section Scripts{
    @Scripts.Render(@"~\Scripts\inifiniteScrolling.js")
}