@model Demo.ViewModels.ScoreboardPointType

<div class="transbox2 navbar center">
    <div class="transbox2Title">
        Scoreboards
    </div>
    <ul>
        @{
            bool isTotal = true;
            string className = "navItem"; 
            
            string str;
            List<string> list = new List<string>();
        }

        @foreach (var item in Model.PointTypes)
        {
            str = item.Name.ToString();
            
            if (item.Name == Model.SelectedPointType) 
            { 
                className += " currentScoreboard";
                isTotal = false;
            }
            
            if (!list.Contains(str))
            {
            <li class="@className">
                <p>
                    @Html.ActionLink(item.Name,"Index", "Scoreboard",  new { pointType = item.Name }, new { })
                </p>
            </li>
            
            className = "navItem";
            list.Add(str);
            }
        }

        @if (isTotal)
        {
            className += " currentScoreboard";
        }

        <li class="@className">
            <p>
                @Html.ActionLink("Totals", "Index", "Scoreboard", new { pointType = "" }, new { })
            </p>
        </li>
    </ul>
</div>