@{
    ViewBag.Title = "CreateProfile";
}

<h2>CreateProfile</h2>

<iframe src="~/Content/UserAgreement.txt"></iframe>

@using (Html.BeginForm("CreateProfile", "Courses", FormMethod.Post, new { @id = "editform" }))
{
    
}
