
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* @russfeld */
/* CSS Design based on the following guides/templates :*/
/* http://cssr.ru/simpliste/ Simpliste template with Blackberry skin.*/
/* http://www.maxdesign.com.au/articles/liquid/ Liquid Layout */

body {
    font-family: Arial, sans-serif;
    color: #000000;
    background: #676D8F;
}

.header {
    margin-bottom: 5px;
    display:block;
    background:#512888;
    color:#FFFFFF;
    padding: 2em 2% 2em;
}

.footer {
    padding: 2em 2% 2em;
    color: #FFFFFF;
    display:block;
}

.logo {
    font-size: 20px;
    color: #FFFFFF;
    display:inline-block;
}

    .logo a,
    .logo a:visited {
        color: #FFFFFF;
    }

    .logo a:hover,
    .logo a:visited:hover {
        color: #FFFFFF;
    }

.contentbox {
    background: #FFFFFF;
    padding: .25em 0 2em 2%;
}

.liquid_100 {
    width: 98%;
    margin: 0 2% 0 0;
}

.table {
    width: 100%;
    border-collapse:collapse; 
    border-spacing:0;
}

        .table tr:nth-child(odd) {
            background: #FFFFFF;
        }

        .table tr:nth-child(even) {
            background: #E4E4E4;
        }

    .table th {
        text-align: center;
        font-size: 14px;
    }

    .table td {
        padding:2px 1px;
        text-align: center;
    }

    .table .left-align {
        padding:2px 1px;
        text-align: left;
    }

.top_menu {
    width: 70%;
    float: right;
    text-align: right;
    display:block;
}

    .top_menu li {
        display: inline-block;
        margin-left: 7px;
    }

    .top_menu a,
    .top_menu a:visited {
        color: #FFFFFF;
    }

    .top_menu ol, ul {
        list-style: none outside none;
        margin: 0px;
        padding: 0px;
    }

    .top_menu a:hover,
    .top_menu a:visited:hover {
      color:#FFD400;
    }

.toggle_me {
    margin-bottom: 5px;
    width: 100%;
}

    .toggle_me:hover {
        cursor: pointer;
    }


.hideable_form {
    padding-top: 5px;
    margin-bottom:7px;
    background: #DCD4E7;
}

/* @russfeld */
/* Button Code from Simpliste templace with modifications from */
/* http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/ */

.button {
  border: 1px solid #391C5F;
  text-align:center; 
  background:#512888;  
  color:#FFFFFF;
  padding:10px 20px;
  font-family:arial, sans-serif;
  display:inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}

    .button a,
    .button a:visited {
        color: #FFFFFF;
    }

    .button a:hover,
    .button a:visited:hover {
        color: #FFFFFF;
    }

.button:hover {
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  background:#ffc000;
  background: -moz-radial-gradient(center top, farthest-corner, #7453A0 10%, #512888 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#7453A0), color-stop(67%,#512888));
  background: -webkit-radial-gradient(center top, farthest-corner, #7453A0 10%, #512888 67%);
  background: -o-radial-gradient(center top, farthest-corner, #7453A0 10%, #512888 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #7453A0 10%, #512888 67%);
  background: radial-gradient(center top, farthest-corner, #7453A0 10%, #512888 67%);  
}

.button:active {
  background:#512888;  
  color:#FFFFFF;
  text-shadow:1px 1px 1px #fff;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
  -moz-box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
  box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
}

.createbutton {
    margin: 0 0 10px 0;
    float:right;
}

/* @russfeld */
/* From the Simpliste Template */
.warning {
  color:#fff;
  padding:8px 14px;
  background:#FF3E31;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}

.success {
  color:#fff;
  background:#4ABF3B;
  padding:8px 14px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}

/* @russfeld */
/* Code from http://24ways.org/2009/have-a-field-day-with-html5-forms/ */


form#editform fieldset {
	border: none;
	margin-bottom: 10px;
    padding: 0;
}

form#editform fieldset:last-of-type {
	margin-bottom: 0;
}

form#editform {
	width: 100%;
}

form#editform legend {
	font-size: 16px;
	font-weight: bold;
}

form#editform ol {
    padding: 0;
}

form#editform ol li {
	list-style: none;
    margin-left: 0px;
    padding: 0 0 10px 0;
}

form#editform label {
	float: left;
	font-size: 13px;
	width: 150px;
}

form#editform textarea {
    width: 99%;
    height: 120px;
}

form#editform input:not([type=submit]) {
    width: 450px;
}

form#editform input[type=checkbox] {
    width: 25px !important;
}

.shortField {
    width: 100px !important;
}

@media only screen and (max-width:610px) {
    form#editform input:not([type=submit]) {
        width: 99%;
    }
}


/*---------------------------------- */
/* Original CSS file from MVC4 below */

/*

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

*/

/* @russfeld */
/*http://www.arroyocode.com/client-side-keyword-search-with-jquery-ui-autocomplete-and-asp-net-mvc-4*/
/* autocomplete input text field */
.reqcourseauto {
    width: 450px;
    height: 16px;
    padding: 4px 8px;
    margin: 0;
    border: 3px solid #e2e2e2;
    background: #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.eleccourseauto {
    width: 450px;
    height: 16px;
    padding: 4px 8px;
    margin: 0;
    border: 3px solid #e2e2e2;
    background: #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.eleclistcourseauto {
    width: 450px;
    height: 16px;
    padding: 4px 8px;
    margin: 0;
    border: 3px solid #e2e2e2;
    background: #e2e2e2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* autocomplete drop down override */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 0.85em;
    background: #ffffff;
}

/* autocomplete focus and hover state color override */
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { color: #000; background: #e8e8e8; }
