@model CIS726_Assignment2.Models.ElectiveListCourse
<div>
    @Html.ActionLink(Model.course.courseHeader, "Details", "Courses", new { id = Model.courseID }, null) (@Html.DisplayFor(model => model.course.courseHours))
</div>