body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    
    /* background-image: url("images/powercat background-small.jpg"); */
    background-color: purple;
    margin: 0px 0px 0px 0px;
}

header, footer, nav, section {
    /*display: block; */
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Styles for General Pages
-----------------------------------------------------------*/
.backgroundImages
{
    width:100%;
    height:100%;
    z-index: -1;
    float:left;
}

.bgBackground
{
    width:100%;
    height:100%;
    position:fixed;
    left: 0px;
    top: 0px;
    z-index:-1;
}

.bgBanner
{
    width:100%;
    margin: 0px 0px 0px 0px;
    top:0px;
    left:0px;
    z-index: -1;
    vertical-align:top;
}

#content
{
    width: 100%;
}

#header
{
    float:left;
    width:100%;
    margin:0px;
    background-image: url("images/banner.jpg");
    background-size: 100% 100%;    
}

#background
{
    width:inherit;
    height:inherit;
}

#banner
{
    width:inherit;
    height:inherit;
    vertical-align:inherit;
}

.label {
    font-size: 30pt;
    color: white;
    top: 10px;
    left: 10px;
    width:100%;
    margin:inherit;
    float:left;
}

p {
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
}

.searchForm {
    float:right;
    color:white;
    display:table-cell;
    vertical-align:bottom;
    max-height:100%;
    margin-top:60px;
}

#pageNumber
{
    visibility:hidden;
}

.SelectedObject
{
    border: 2px solid yellow;
}

/* Styles for Details pages
-----------------------------------------------------------*/
.display-label
{
    float:left;
    padding-right:0.5em;
}

/*Styles for Index pages
-----------------------------------------------------------*/
.taskTable
{
    overflow:scroll;
}

.taskItem
{
    padding-bottom:1em;
    padding-top:1em;
    padding-left:1em;
    padding-right:1em;
    text-align:center;
}

/* Styles for Scoreboard pages
-----------------------------------------------------------*/
.transbox
{
    top:38%;
    width: 90%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.6);
    filter:alpha(opacity=60); /* For IE8 and earlier */
    float:left;
    text-align: center;
}

.transbox p
{
    white-space:pre;
    margin: 10px 40px;
    font-size: 16pt;
    font-family:'Times New Roman';
    font-weight: bold;
    color: #ffffff;
}


.transbox2
{   
    width: 100%;
    /*border-radius: 20px; */
    background-color: #000000;
    float:left;
}

.transbox2 p
{
    margin: 10px 40px;
    font-size: 16pt;
    font-family:'Times New Roman';
    font-weight: bold;
    opacity:1;
    filter:initial;
    color: #ffffff;
}

.transbox2Title
{
    text-align:center;
    width: 100%;
    color:#ffffff;
    font-family:'Times New Roman';
    font-size:18pt;
    float:right;
    z-index:1;
}

.navbar
{
    float:left;
}

.navbar ul
{
    width:100%;
    list-style-type:none;
}

.navbar li
{
    float:left;
}

.navbar p
{
    display:block;
}


.leaderboardTable
{
    width:100%;
    height:100%;
    border-collapse:collapse;
}

#leaderboardHeader th
{
    text-align:center;
    font-size:18pt;
    font-family:'Times New Roman';
    font-weight:bolder;
    color:#ffffff;
}

.leaderboardRecords td
{
    text-align:center;
    font-size: 16pt;
    font-family:'Times New Roman';
    font-weight:bold;
    color:#ffffff;
    padding:10px 0px;
    opacity:initial;
    filter:initial;
}

.topTen td
{
    font-size:18pt;
    font-weight:bolder;
    color:#ffff00;
}

.Scores,.transbox h1 {
    
    text-align:center;
    color:#ffffff;
    font-family:'Times New Roman';
    font-size:24pt;
    z-index:1;
    float:left;
    width:100%;
}

.navItem a
{
    color:#ffffff;
    text-decoration:none;
}

.navItem a:hover
{
    color:#ffff00;
    text-decoration:none;
    cursor:pointer;
}

.currentScoreboard a
{
    color:#ffff00;
}


/* Styles for Task pages
-----------------------------------------------------------*/

.taskPageContainer
{
    width:100%;
    height:30%;
    float:left;
}

.milestoneContainer
{
    float:inherit;
    width:100%;
    margin-top:5%;
    margin-bottom:5%;
}

.taskContainer
{
    float:inherit;
    width:100%;
    margin-top:5%;
    margin-bottom:5%;
}

.taskTransbox
{
    top:38%;
    width: 90%;
    border-radius: 20px;
    margin-left:5%;
    margin-right:5%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.6);
    filter:alpha(opacity=60); /* For IE8 and earlier */
    float:left;
}

.taskTransbox p
{
    white-space:pre;
    margin: 10px 40px;
    font-size: 18pt;
    font-family:'Times New Roman';
    font-weight: bold;
    color: #ffffff;
    text-align:center;
}

.taskPageTable
{
    width:90%;
    margin: 0% 5% 5% 5%;
    text-align:center;
    border-collapse:collapse;
    white-space:pre-line;
}

.taskPageTable tr
{
    font-family: 'Times New Roman';
    color: white;
    margin:5% 0%;
    font-size: 16pt;
    font-weight: bold;
}

.taskPageTable th
{
    border-bottom:1px solid white;
}


.milestoneIcon
{
    width:32px;
}

.top_menu {
    width: 70%;
    float: right;
    text-align: right;
    display:block;
    margin: 10px 10px 10px 10px;
}

.top_menu li {
    display: inline-block;
    margin-left: 7px;
}

.top_menu a,
.top_menu a:visited {
    color: #FFFFFF;
}

.top_menu ol, ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

.top_menu a:hover,
.top_menu a:visited:hover {
    color:#FFD400;
}

/* These classes will display the table like the library hsowed us.*/

.tbox
{
    top:38%;
    width: 90%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.6);
    filter:alpha(opacity=60); /* For IE8 and earlier */
    float:left;
}

.leaderboardTable2
{
    border-color: #333333;
    border-width: 2px;
    background-color: #000000;
}

.center
{
    margin-left:auto;
    margin-right:auto;
}

#infiniteScrollingHook 
{
    width:100%;
    height:40px;
    float:left;
    visibility:hidden;
}

/* Create Profile page */

#userAgreement
{
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

#userAgreement iframe
{
    width:100%;
    background-color: white;
}
