@model Demo.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Index";
}

@{Html.RenderPartial("TaskMenu");}

<div class="taskPageContainer">
    <div class="milestoneContainer">
        @{Html.RenderPartial("MilestoneListPartial", Model.MileStones);}
    </div>
    <div class="taskContainer">
        @{Html.RenderPartial("TaskListPartial", Model.Tasks);}
    </div>
</div>
